# Plotting data

In [9]:
import pandas as pd
peru_data = pd.read_csv("Data/peru_data.csv")
peru_s = peru_data[['Fecha', 'CIA']]
peru_data.head()
# peru_s.head()

,Fecha,CIA,1D_ CIA,2D_CIA,CDA,PT,P1,1D_P1,2D_P1,RA,...,2D_RA,P2,1D_P2,2D_P2,FA,1D_FA,2D_FA,P3,1D_P3,2D_P3
0,3/6/2020,1,1,1,154,155,0.65,0.65,0.65,0,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
1,3/7/2020,6,5,4,213,219,2.74,2.09,1.44,0,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
2,3/8/2020,7,1,-4,250,257,2.72,-0.02,-2.11,0,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
3,3/9/2020,9,2,1,309,318,2.83,0.11,0.13,0,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
4,3/10/2020,11,2,0,335,346,3.18,0.35,0.24,0,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0

In [12]:
gdata = pd.read_csv("Data/time_series_covid19_confirmed_global.csv")
gdata.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,74,84,94,110,110,120,170,174,237,273
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,123,146,174,186,197,212,223,243,259,277
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,264,302,367,409,454,511,584,716,847,986
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,164,188,224,267,308,334,370,376,390,428
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,3,3,4,4,5,7,7,7,8,8