# Plotting data

In [9]:
import pandas as pd
peru_data = pd.read_csv("Data/peru_data.csv")
peru_s = peru_data[['Fecha', 'CIA']]
peru_data.head()
# peru_s.head()

,Fecha,CIA,1D_ CIA,2D_CIA,CDA,PT,P1,1D_P1,2D_P1,RA,...,2D_RA,P2,1D_P2,2D_P2,FA,1D_FA,2D_FA,P3,1D_P3,2D_P3
0,3/6/2020,1,1,1,154,155,0.65,0.65,0.65,0,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
1,3/7/2020,6,5,4,213,219,2.74,2.09,1.44,0,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
2,3/8/2020,7,1,-4,250,257,2.72,-0.02,-2.11,0,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
3,3/9/2020,9,2,1,309,318,2.83,0.11,0.13,0,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0
4,3/10/2020,11,2,0,335,346,3.18,0.35,0.24,0,...,0,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0